<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="com.enviopack.listeners.ExtentTestNGListener" />
    </listeners>
    
		<test name="Login Test">
			<classes>
				<class name="com.enviopack.tests.LoginTest"/>
			</classes>
		</test>
	    <test name="Access Account Test">
	        <parameter name="seller" value="5710" /> 
	        <classes>
	            <class name="com.enviopack.tests.AccessAccount"/>
	        </classes>
	    </test>
</suite> <!-- Suite -->
